# Ingestion settings
DATA_SOURCE=
DEBUG=

# BigQuery / GCP
GCP_PROJECT_ID=
DATA_PROJECT_ID=
BQ_DATASET=

# Write Behavior
WRITE_MODE=append

# Logging (optional override)
LOG_RETENTION_DAYS=30

# Project list (if using multiple)
GCP_PROJECT_LIST=
